<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title> Assignment 3 </title>
<!--  <link rel="stylesheet" href="/css/styles.css" type="text/css"> -->
<link rel="stylesheet" href="/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>
body { background: #212121 !important; }

#container {
  height: 100%;
  width: 100%;


  position: fixed;
  top: 2%;

}
.list-group-item {
background-color: transparent;
color: #e6ffff;
border-bottom: 1px solid #e6ffff;
}

</style>
</head>
  <body>
    <form  action="/user" method="post">
  <p class="mt-5  text-light text-center">{{full_name}}
    {% if same_user=='yes' %}
    <input class="ml-5" type="hidden" name="button" value="{{follow}}">
    {% else %}
    <input class="ml-5" type="submit" name="button" value="{{follow}}">
    <input type="hidden" name="username" value="{{username}}">
    {% endif %}
    <p class="text-light text-center">
      {{description}}
      <br>
      <br>
    Followers: {{followers_count}}
    Following : {{following_count}}
    <br>
    <input class="mt-2" type="submit" name="back" value="Back">
    </p>
    <br>
  </p>
  </form>

    <ul class="text-left list-group ml-5 mr-5" style="list-style-type:none">
      {% for tweet in tweet_list |sort(attribute='tweet_time',reverse=True)%}
        {% if loop.index<=50 %}
      <li class=" list-group-item  "><a href="user?username={{username}}">{{username}}</a>
                <img class="text-center" src="{{tweet.tweet_url}}" />
        <p class="mt-3">{{tweet.tweet_text}}</p>
      </li>
      {%endif%}
      {% endfor %}
  </ul>
  </body>
</html>
